@import "./styles/iconfont.css";

page,view,text,image,navigator,swiper{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

page{
    /* background-color: #fafafa; */
    background-color:rgb(247, 247, 247);
    font-size: 33rpx;
}